@page "{eventId:int}"
@model EventiaWebapp.Pages.ConfirmedBookingModel


@section bottom_of_head{
    <style>
        .card {
            border: none;
        }
        .card-body {
            margin: auto 20px auto 20px;
            
        }
        .card-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    </style>
}

<div class="joinEventMainDiv">
    <h1> <br/>@Model.logedInUser.UserName confirmed!</h1>

    <div class="card" style="width: 18rem;">
        <img src="@Model.Evt.Picture" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Evt.Title</h5>
            <p class="card-text infoText">Thank you for your booking! <br/>
                An email has been sent to @Model.logedInUser.Email with booking confirmation</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Evt.Date.ToString("f")</li>
            <li class="list-group-item">Spots: @Model.Evt.SpotsAvalable</li>
            <li class="list-group-item">Brought to you by @Model.Evt.Organizer.UserName</li>
        </ul>
        <div class="card-buttons">
            <a asp-page="/MyEvents" class="btn btn-dark knapp">My Events</a>
            <a asp-controller="Events" asp-action="Index" class="btn btn-dark knapp">All Events</a>
        </div>
    </div>
</div>

