@page "{eventId:int}" //TODO va fan är detta och hur hör 
@using Microsoft.CodeAnalysis.VisualBasic.Syntax
@model EventiaWebapp.Pages.JoinEventModel


@*TODO flytta dessa*@
@section bottom_of_head{
    <style>
        .card {
            border: none;
        }
        .card-body {
            margin: auto 20px auto 20px;
        }
        .card-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .card-img-top {
            border: black solid 2px;
            margin: auto 20px auto 20px;
        }
    </style>
}

<div class="joinEventMainDiv">
<h1>Join Epic Event</h1>

<div class="card" style="width: 18rem;">
    <img src="@Model.Evt.Picture" class="card-img-top" alt="picture not found">
    <div class="card-body">
        <h5 class="card-title">@Model.Evt.Title</h5>
        <p class="card-text infoText">@Model.Evt.InfoLong</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Evt.Date.ToString("f")</li>
        <li class="list-group-item">Spots: @Model.Evt.SpotsAvalable</li>
        <li class="list-group-item">Brought to you by @Model.Evt.Organizer.Name</li>
        @{
            if (@Model.evetAlreadyBooked)
            {
                <li class="list-group-item">´<strong>You already booked this event</strong></li>
            }}
    </ul>
    <div class="card-buttons">
        @{
            if (@Model.evetAlreadyBooked)
            {
                <a asp-page="MyEvents" class="btn btn-dark knapp">My Events</a>
            }
            else
            {
                <form method="post" asp-route-eventId="@Model.Evt.Id"> <button class="btn btn-dark knapp">Join this event</button></form>
            }
            <a asp-controller="Events" asp-action="Index" class="btn btn-dark knapp">Back</a>
        }
        
    </div>
</div>
</div>

