@page "{id}"
@model EventiaWebapp.Pages.JoinEventModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
@addTagHelper *, AuthoringTagHelpers
@*TODO flytta dessa*@
@section bottom_of_head{
    <style>
        .card {
            border: none;
        }
        .card-body {
            margin: auto 20px auto 20px;
        }
    </style>
}

<div class="joinEventMainDiv">
<h1>Join Epic Event</h1>

<div class="card" style="width: 18rem;">
    <img src="/Views/Events/Images/javier-martinez-hUD0PUczwJQ-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.evt.Title</h5>
        <p class="card-text infoText">@Model.evt.InfoLong</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.evt.Date.ToString("f")</li>
        <li class="list-group-item">Spots: @Model.evt.SpotsAvalable</li>
        <li class="list-group-item">Brought to you by @Model.evt.Organizer.Name</li>
    </ul>
    <div class="card-body">
        <form method="post" asp-route-id="@Model.evt.Id"> <button class="btn btn-dark knapp">Join this event</button>
           
            </form>
        <a asp-controller="Events" asp-action="Index" class="btn btn-dark knapp">Back</a>
    </div>
</div>
</div>
