@page
@model EventiaWebapp.Pages.MyEventsModel

@section bottom_of_head{
    <style>

        .accordion-item * { font-size: 20px; }

        .accordion-upper-body {
            display: flex;
            justify-content: space-between
        }

        .accordion-button:not(.collapsed) {
            background-color: #e2fafc;
            border: solid 1px #212529;
            border-color: #212529;
            color: #642188;
        }

        .accordion-button:focus { box-shadow: none; }
    </style>
}

<div class="AllEventsMain">
    <h1>@User.Identity.Name booked events!</h1>
    @{if(Model.AttendesEventList != null)
    {
        <div class="accordion accordion-flush" id="accordionFlushExample">
            @for (var i = 0; i < Model.AttendesEventList.Count; i++)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading-@i">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@i" aria-expanded="false" aria-controls="flush-collapse-@i">
                            @Model.AttendesEventList[i].Title | @Model.AttendesEventList[i].Date.ToString("M") | @Model.AttendesEventList[i].Place
                        </button>
                    </h2>
                    <div id="flush-collapse-@i" class="accordion-collapse collapse" aria-labelledby="flush-headin-@i" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <h3>@Model.AttendesEventList[i].Title | @Model.AttendesEventList[i].Date.ToString("M") | @Model.AttendesEventList[i].Place</h3>

                            <h4> Seats: @Model.AttendesEventList[i].SpotsAvalable Time @Model.AttendesEventList[i].Date.ToString("t")</h4>
                            <p class="infoText">@Model.AttendesEventList[i].InfoShort</p>
                            <div class="accordion-upper-body">
                                <p class="accordion-organiser">@Model.AttendesEventList[i].Organizer.OrganizerName</p>
                                <a asp-page="" class="btn btn-dark knapp accordion-join-btn">Cancel booking</a>
                            </div>
                        </div>

                    </div>
                </div>
            }
            </div>
        }
        else
        {
            <h3>No booked events</h3>
        }

    }
    
</div>