@page
@using EventiaWebapp.Models
@using Microsoft.AspNetCore.Identity
@using NuGet.ProjectModel
@model EventiaWebapp.Pages.Admin.ManageUsersModel
@inject UserManager<EventiaUser> _userManager
@{
}

<h3>Display Users</h3>

<h4>All Users</h4>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var user in @Model.AllEventiaUsers)
        {
            var roles = await _userManager.GetRolesAsync(user);

            <tr>
                <th scope="row">@user.UserName</th>
                <td>@user.Email</td>
                <td>@roles[0]</td>
            </tr>
        }
        </tbody>
    </table>
</div>


<h4>Organizers</h4>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Active hosted events</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var organizer in @Model.Organizers)
        {  
            <tr>
                <th scope="row">@organizer.UserName</th>
                <td>@organizer.Email</td>
                <td>@organizer.HostedEvents.Count</td>
            </tr>
        }
        </tbody>
    </table>
</div>


<h4>Eventia Users</h4>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Joined events</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in @Model.EventiaUsers)
        {  
            <tr>
                <th scope="row">@user.UserName</th>
                <td>@user.Email</td>
                <td>@user.JoinedEvents.Count</td>
            </tr>
        }
        </tbody>
    </table>
</div>
