
@model EventiaWebapp.Models.Event

@*A controller can pass data or objects to a view using the ViewData dictionary. 
The ViewData dictionary is a dynamic object that provides a convenient late-bound way to pass information to a view.
???????????????? 

@{
    ViewData["Title"] = "JoinEvent";
}
*@


<h1>Join Epic Event</h1>
<p>Här täker jag att man får in ett event objekt som man presenterar, 
    beroende på typ av event skulle det kunna vara olika bilder?</p>

<div class="card" style="width: 18rem;">
    <img src="/Views/Events/Images/javier-martinez-hUD0PUczwJQ-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.InfoLong</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Date)</li>
        <li class="list-group-item">@Model.SpotsAvalable</li>
        <li class="list-group-item">@Model.Organizer.Name</li>
    </ul>
    <div class="card-body">
        <a asp-controller="Events" asp-action="Confirmation" asp-route-id="@Model.Id" class="btn btn-dark">Join this event</a>
        <a asp-controller="Events" asp-action="AllEvents" class="btn btn-dark">Back</a>
    </div>
</div>

@*<div class="card" style="width: 18rem;">
    <img src="Images/javier-martinez-hUD0PUczwJQ-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayNameFor(Model => Model.Title))</h5>
        <p class="card-text">@Html.DisplayNameFor(Model => Model.InfoLong)</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Html.DisplayNameFor(Model => Model.Date.ToString("f"))</li>
        <li class="list-group-item">@Html.DisplayNameFor(Model => Model.SpotsAvalable)</li>
        <li class="list-group-item">@Html.DisplayNameFor(Model => Model.Organizer)</li>
    </ul>
    <div class="card-body">
        <a asp-controller="Events" asp-action="Confirmation" asp-route-id="@Model.Id" class="btn btn-dark">Join this event</a>
    </div>
</div>*@
